@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

html {
	font-size: 16px;
}

body {
	width: 100vw;
	height: 100vh;

	--gray0: hsl(230, 05%, 15%);
	--gray1: hsl(230, 05%, 20%);
	--gray2: hsl(230, 05%, 30%);
	--gray3: hsl(230, 05%, 40%);
	--gray4: hsl(230, 05%, 55%);
	--gray5: hsl(230, 05%, 70%);
	--gray6: hsl(230, 05%, 80%);
	--gray7: hsl(230, 05%, 90%);
	--gray8: hsl(230, 05%, 95%);
}

#app {
	height: 100%;
	font-family: Nunito, Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 2rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--gray8);
	color: var(--gray2);
}
